body {
    width: 30em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: #203040;
    color: #E3DEDB;
    text-align: center;
    padding: 150px;
}
img.logo {
    width: 30em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cover {
    width: 100%;    
    margin-top: 10%;
    object-fit: cover;
}
a {
    color: #BB2244;
    text-decoration:none;
}
a:hover {
    color: #2C4359;
}
